<body>

<h1>Welcome <%= user.name %> <br></h1>



<h3>Email: <%= user.email  %></h3>
<h3>Mobile: <%= user.phone %></h3>
<h3>Is Admin: <%= user.is_admin %></h3>



<a href="/logout">Logout</a>

</body>